html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Asegura que el main crezca y empuje al footer hacia abajo */
main {
    flex: 1;
}

/* Opcional: asegura que el footer no tenga margen */
footer {
    margin-top: auto;
}
.platillo {
    transition: none !important;
    transform: none !important;
    box-shadow: none !important;
}

.platillo:hover {
    cursor: default !important;
    transform: none !important;
    box-shadow: none !important;
}
